* {
    padding: 0;
    margin: 0;
    width: auto;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body {
    background: linear-gradient(to bottom right, #c4b8e6, #6A949D, #96B4BA, #E1F8B2);
    width:auto;
    height:100%;
    margin: 0;
    padding: 1px 10px 1px 10px;
    box-sizing: border-box;
}
.header-container {
    padding: 0;
    margin-left: 10px;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    /* font-style: italic; */
    font-size: 40px;
    color:#263021;
}
.wrapper {
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    margin: 30px;
    padding: 10px;
}
.modal-window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-header-container {
    display: flex;
}
#exit {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #246D7C;
    border: none;
    outline: none;
    color: #f5f5f5;
    font-weight: 600;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 15px;
    padding-bottom: 2px;
}
#modal-header {
    font-weight: 600;
    color:#263021;
    font-size: 20px;
    margin-left: 2px;
}
.enter {
    margin-top: 5px;
    background-color: #246D7C;
    border: none;
    outline: none;
    color: #f5f5f5;
    padding: 3px 8px 3px 8px;
    border-radius: 8px;
    font-weight: 600;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
}
.modal-content input {
    width: 100%;
    padding: 10px;
    border-radius: 0.3em;
    color: #414a67;
    background-color: #efeef4;
    border: none;
    font-weight: 400;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.wrapper {
    padding: 30px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    width: 100%

}
.sub-container {
    padding: 10px;
    float: left;
    width: 100%;
    color: #263021;
}

.sub-container input {
    display: block;
    width: 100%;
    padding: 12.5px;
    border-radius: 10px;
    background-color: #efeef4;
    color: #424244;
    border: none;
    /* outline: 1px solid #A7A6AA; */
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
}
.add {
    background-color: #246D7C;
    border: none;
    outline: none;
    color: #fff;
    padding: 3px 8px 3px 8px;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 10px;
}
.init-container {
    display: flex;
    justify-content: space-between;
}
.budget-progress-window {
    /* display: flex;
    justify-content: space-between; */
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    color: #263021;
    font-weight: 400;
    border-radius: 15px;
    margin: 20px 0;
    padding: 20px;
    margin-top: 5px;
}
.of-budget-container {
    display: flex;
    color: gray;
}
.remain-budget-container {
    color: gray;
    font-weight: 400;
}
#instructions {
    margin-top: 10px;
    display: block;
    font-size: 16px;
    color: #424244;
}
.expense-type-container {
    margin: 10px;
}
.expense-header-container {
    display:flex; 
    justify-content: space-between;
    font-weight: 700;
    color:#263021

}
.prog-bar-container {
    width: 100%;
    height: 20px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden; /* To hide the overflowing progress bar */
}
.prog-bar {
    height: 100%;
    background-color: #246D7C;
    width: 0%; /* The initial width of the progress bar (0%) */
    transition: width 1s ease;
}
.progress-bar-filled {
    background-color: #e9645b; /* Replace with your desired color */
  }
.numbers-container {
    display:flex;
    justify-content: space-between;
    font-size: 16px;
}
.expense-balance-disp {
    margin-right: 7px;
    color: #181740;
    font-weight: 700;
    font-size: 16px;
}
.button-container {
    display: flex;
    justify-content: flex-end;
}
.add-expense-type {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #246D7C;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 700;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 19px;
    padding-bottom: 2px;
}
.totals-window {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    color: #263021;
    font-size: 24px;
    font-weight: 400;
    border-radius: 15px;
    margin: 20px 0;
    padding: 20px;
    margin-top: 5px;
}
#total {
    font-weight: 700;
    margin-bottom: 10px;
}
.start-balance-window {
    display: flex;
    margin-bottom: 10px;
    font-size: 20px;
}
.expenses-total-window {
    display: flex;
    margin-bottom: 10px;
    font-size: 20px;
}
.remain-balance-window {
    display: flex;
    margin-bottom: 5px;
    font-size: 20px;
}
h2 {
    font-size: 24px;
    font-weight: 700;;
}
h3 {
    font-size: 24px;
    font-weight: 700;
}
.income-window, 
.expense-window {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    color: #263021;
    border-radius: 15px;
    margin: 20px 0;
    margin-bottom: 10px;
    padding: 20px;
}
.alignright {
	margin-left: auto;
}
.hide {
    display: none;
}
.error {
    color: #ff465a;
    font-size: 16px;
}
@media (max-width: 768px) {
    .wrapper {
        padding: 10px;
        margin: 5px;
        margin-top: 25px;
        margin-bottom: 25px;
        }
    .container {
        grid-template-columns: 1fr; /* Single column for mobile */
    }
    .init-container {
        display: block;
    }
    .button-container {
        display: flex;
    }
    .add-expense-type {
        margin-left: auto;
        margin-top: 10px;
    }
}